html, body{
    margin: 0;
    padding: 0;
}

html, body, .block {
    height: 100%;
}

#blue.block.grey.darken-4 {
    height: 600vh;
}

#musicEnable, #musicDisable, #musicEnable2, #musicDisable2 {
    top: 410px;
    border-radius: 30px;
    border-width: 1px;
    width: 55px;
}
#musicDisable, #musicDisable2 {
    display: none;
}

#btn-enterWeb {
    position: absolute;
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top:-335px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    z-index: 5;
}

#welcome-page {
    height: 30%;
}

#explore-btn {
    font-family: Roboto;
    font-size: large;
    letter-spacing: 4px;
    position: absolute;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 45px;
    z-index: 5;
    
}

.fog {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

.fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
}

.fog-img-first {
    background: url("images/fog-1.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 60s linear infinite;
    opacity: 0.6;
}

.fog-img-second {
    background: url("images/fog-2.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center top;
    animation: marquee 30s linear infinite;
    opacity: 0.8;
}

@keyframes marquee {
    0% {
    transform: translate3d(0, 0, 0);
    }

    100% {
    transform: translate3d(-200vw, 0, 0);
    }
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}

#preloader {
    align-items: center;
    justify-content: center;
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.materialbox-caption {
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 3px;
    top: 620px;
    background-image: linear-gradient(90deg, #212121, #263238);
    opacity: 0.2;
}